

.product-images {
  margin-bottom: 100px;
  li {
    list-style: none; // usuwa kropki z listy
    display: inline-block;
    margin-left: 20px;
    img {
      width: 120px;
      height: 120px;
    }
  }
}

.product-info {
    float: right;
    hr {
      border: 1px solid gray;
    }
    .title {
      h2, span {
        display: inline-block;
      }
      span {
        color: gray;
        margin-left: 10px;
      }
    }
    .add-to-cart {
      input {
          width: 60px;
      }
      button {
          margin-top: 20px;
          margin-bottom: 25px;
      }
    }
}
